{% extends "base_commerce.html" %}
{% load static %}
{% block page_header %}Ajouter du Matériel{% endblock %}

{% block content %}
<div class="card" style="max-width: 700px; margin: auto;">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="type">Type de matériel</label>
            <select name="materiel_type" id="type" required>
                {% for type in types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        <div class="form-group">
            <label for="statut">Statut</label>
            <select name="materiel_status" id="statut" required>
                {% for statut in statuts %}
                    <option value="{{ statut.id }}">{{ statut.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="durre_de_vie_estimee">Durée de vie (mois)</label>
            <input type="number" id="durre_de_vie_estimee" name="durre_de_vie_estimee" min="0"  required>
        </div>
        <button type="submit" class="btn">Enregistrer</button>
    </form>
</div>
{% endblock %}