{% extends "base_commerce.html" %}
{% load static %}
{% block page_header %}Détail de la Récolte #{{ recolte.id }}{% endblock %}

{% block page_actions %}
    <a href="{% url 'recolte_list' %}" class="btn">Retour à la liste</a>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">Informations sur la Récolte</div>
    <p><strong>Date :</strong> {{ recolte.created_at }}</p>
    <p><strong>Ruche :</strong> {{ recolte.ruche.description }}</p>
    <p><strong>Poids récolté :</strong> {{ recolte.poids_miel }} kg</p>
    <p><strong>Qualité estimée :</strong> {{ recolte.qualite }} / 10</p>
    <p><strong>Taux d'humidité :</strong> {{ recolte.taux_humidite }} %</p>
    <p><strong>Note :</strong> {{ recolte.note|default:"Aucune note." }}</p>
</div>
{% endblock %}